
<div class="contents-new">
  <%= form_tag('/tweets', method: :post) do %>
    <h3>
      NEW POST
    </h3>

    <input placeholder="Image URL" type="text" name="image" autofocus="true">
    <textarea placeholder="text" name="text" cols="30" rows="10"></textarea>
    <button class = "btn-large yellow accent-2 black-text" type="submit" value="butoon clicked!!">SENT!</button>
  <% end %>



  <div class = "wave-cantainer">
    <!-- TAP TARGET -->
    <div class="fixed-action-btn" style="bottom:45px;right:24px">
      <a id ="menu" onclick="$('.tap-target').tapTarget('open')" class= "waves-effect waves-light btn btn-floating btn-large purple darken-1">
        <i class = "material-icons">menu</i>
      </a>
    </div>
    <!-- TAP TARGET CONTENT -->
    <div class= "tap-target purple darken-1" data-activates="menu">
      <div class="tap-target-content white-text">
        <h5>EVERYTHING FOR FUJIROCK</h5>
        <p class="white-text">just post you feel, everything for FUJIROCK!! start from the yellow btn!! here is the place you can browse FUJIROCK world!!</p>
      </div>
    </div>
  </div>




</div>

