<div class = "rides">
  <h2>Apply To Drive</h2>
  <p>way for Fujirock</p>
    <div class = "rides-items">
      <div class = "rides-items-content">
       <li>出発日<input></li>
       <li>到着日<input></li>
       <li>出発場所<input> </li>
       <li>到着場所<input> </li>
       <li><a>車</a></li>
       <li><a>supplyer情報</a></li>
      </div>
    </div>
</div>
